ejercicios_xml/Basico2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- <xs:element name="note">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>  -->

<xs:element name=mensajes>
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Remitente">
				<xs:element name="nombre" type="xs:string">
				<xs: 
			</xs:element>
		</xs:sequence>	
	</xs:complexType>
</xs:element>